name: Test

on: [push, workflow_dispatch]

permissions:
  contents: read

jobs:
  build:
    name: Test on ${{ matrix.os }} / ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: amd64
          - os: ubuntu-24.04-arm
            arch: arm64
          - os: windows-latest
            arch: amd64
          - os: macos-15-intel
            arch: amd64
          - os: macos-15
            arch: arm64
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: './go.mod'

    - name: Test examples
      run: go test -v -gcflags="all=-N -l" ./examples/...

    - name: Unit tests
      run: go test -v -gcflags="all=-N -l" -coverprofile coverage.out .

    - name: Upload coverage reports to Codecov
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.arch == 'amd64' && github.ref == 'refs/heads/main' }}
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  freebsd-amd64:
    name: Test on freebsd / amd64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Test
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          copyback: false
          prepare: |
            pkg install -y go
          run: |
            go test -v -gcflags="all=-N -l" ./examples/...
            go test -v -gcflags="all=-N -l" -coverprofile coverage.out .

  freebsd-arm64:
    name: Test on freebsd / arm64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Test
        uses: vmactions/freebsd-vm@v1
        with:
          arch: aarch64
          usesh: true
          copyback: false
          prepare: |
            pkg install -y go
          run: |
            go test -v -gcflags="all=-N -l" ./examples/...
            go test -v -gcflags="all=-N -l" -coverprofile coverage.out .
